---
import Layout from "../../layouts/Layout.astro";
import { type CollectionEntry, getCollection } from 'astro:content';
import type { BlogPost } from "../../types/interfaces";

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map(post => ({
    params: { slug: post.slug },
    props: post
  }));
}
type Props = CollectionEntry<'blog'>;
const post = Astro.props;


const { data } = post as unknown as { data: BlogPost };
const { Content } = await post.render();
console.log(Content)
---

<Layout title="blog">
  <article class="prose lg:prose-xl mx-auto py-8">
    <h1 class="mb-8 text-4xl">{data.title}</h1>
    <div class="flex items-center mb-4">
      <img
        src={data.authorImage}
        alt={data.author}
        class="w-12 h-12 rounded-full mr-3"/>
      <div>
        <p class="text-base font-medium">{data.author}</p>
        <p class="text-sm text-gray-500">{data.date}</p>
      </div>
    </div>
    <img
      src={data.mainImage}
      alt={data.title}
      class="w-full h-auto my-6 max-h-[400px] object-cover rounded-lg shadow-md"/>
    <Content />
  </article>
</Layout>
